<a href="https://colab.research.google.com/github/Paarthkhandelwal29/WNS-Task-1/blob/main/WNS_Qn_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import json
import pandas as pd

Uploading the json file

In [17]:
json_file_path = '/content/WNS_Data1.json'

In [18]:
with open(json_file_path) as f:
    data = json.load(f)

Lists to store individual data points

In [19]:
names = []
addresses = []
mobile_numbers = []
dates_of_birth = []

In [20]:
for person in data['people']:
    names.append(person['name'])
    addresses.append(person['address'])
    mobile_numbers.append(', '.join(person['mobile_numbers']))
    dates_of_birth.append(person['date_of_birth'])

Dictionary to store the data

In [21]:
data_dict = {
    'Name': names,
    'Address': addresses,
    'Mobile Numbers': mobile_numbers,
    'Date of Birth': dates_of_birth
}

Creating a DataFrame from the dictionary

In [22]:
df = pd.DataFrame(data_dict)

Displaying the data

In [23]:
print(df)

            Name                        Address  \
0       John Doe    123 Main St, Cityville, USA
1     Jane Smith    456 Elm St, Townsville, USA
2  Alice Johnson   789 Oak St, Villagetown, USA
3      Bob Brown  987 Pine St, Hamletville, USA

                             Mobile Numbers Date of Birth
0                123-456-7890, 987-654-3210    1990-05-15
1                              555-555-5555    1985-10-25
2  111-222-3333, 444-555-6666, 777-888-9999    1978-03-12
3                                              1995-12-03