<a href="https://colab.research.google.com/github/Paarthkhandelwal29/WNS-Task-1/blob/main/WNS_Qn_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas as pd

Uploading the json file

In [ ]:
json_file_path = '/content/WNS_Data1.json'

In [ ]:
with open(json_file_path) as f:
    data = json.load(f)

Lists to store individual data points

In [ ]:
names = []
addresses = []
mobile_numbers = []
dates_of_birth = []

In [28]:
for person in data['people']:
    names.append(person['name'])
    addresses.append(person['address'])
    # Check if the person has mobile numbers
    if person['mobile_numbers']:
        mobile_numbers.append(', '.join(person['mobile_numbers']))
    else:
        mobile_numbers.append(None)  # Append None if no mobile numbers
    dates_of_birth.append(person['date_of_birth'])

Dictionary to store the data

In [29]:
data_dict = {
    'Name': names,
    'Address': addresses,
    'Mobile Numbers': mobile_numbers,
    'Date of Birth': dates_of_birth
}

Creating a DataFrame from the dictionary

In [34]:
df = pd.DataFrame(data_dict)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', 1000)

Displaying the data

In [35]:
print(df)

             Name                        Address                              Mobile Numbers Date of Birth
0        John Doe    123 Main St, Cityville, USA                  123-456-7890, 987-654-3210    1990-05-15
1      Jane Smith    456 Elm St, Townsville, USA                                555-555-5555    1985-10-25
2   Alice Johnson   789 Oak St, Villagetown, USA    111-222-3333, 444-555-6666, 777-888-9999    1978-03-12
3       Bob Brown  987 Pine St, Hamletville, USA                                                1995-12-03
4        John Doe    123 Main St, Cityville, USA                [123-456-7890, 987-654-3210]    1990-05-15
5      Jane Smith    456 Elm St, Townsville, USA                              [555-555-5555]    1985-10-25
6   Alice Johnson   789 Oak St, Villagetown, USA  [111-222-3333, 444-555-6666, 777-888-9999]    1978-03-12
7       Bob Brown  987 Pine St, Hamletville, USA                                          []    1995-12-03
8        John Doe    123 Main St, Cityville, USA                  123-456-7890, 987-654-3210    1990-05-15
9      Jane Smith    456 Elm St, Townsville, USA                                555-555-5555    1985-10-25
10  Alice Johnson   789 Oak St, Villagetown, USA    111-222-3333, 444-555-6666, 777-888-9999    1978-03-12
11      Bob Brown  987 Pine St, Hamletville, USA                                        None    1995-12-03